<div class="footer-container">
  <footer class="short footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <span class="text-white"><a href="https://github.com/MarkXA/nidevconf">nidevconf theme</a> © Copyright {{ $.Site.Params.year }} Developers Conference Limited</span>
        </div>

        <div class="col-sm-5 text-right">
          <ul class="menu">
            <li><a href="mailto:arches2025@flaxandteal.co.uk">Contact</a></li>
            <li><a class="inner-link back-to-top" href="#top">Back To Top&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/skrollr.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
